body {
  background-color: #f9f7fe;
  font-family: "Montserrat", sans-serif;
}

main {
  padding: 30px 0;
}

a {
  color: plum;
}

header {
  border-bottom: 1px solid #f9f7fe;
  padding: 0 0 30px 0;
}

footer {
  border-top: 1px solid #f9f7fe;
  padding: 30px 0 0 0;
  font-weight: bold;
  text-align: center;
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.city {
  margin: 0;
  font-size: 38px;
  line-height: 48px;
}

.temperature-container {
  display: flex;
}

.temperature-value {
  font-size: 88px;
  line-height: 88px;
  font-weight: bold;
}

.icon {
  width: 88px;
  height: 88px;
}

.temperature-unit {
  margin-top: 6px;
  font-size: 28px;
}

.search-form-input {
  background-color: #f9f7fe;
  border: none;
  border-radius: 6px;
  width: 80%;
  font-size: 16px;
  padding: 15px 20px;
}

.search-button {
  background-color: plum;
  font-size: 16px;
  padding: 15px 30px;
  border: none;
  margin-left: 5px;
  border-radius: 6px;
  color: white;
}
